﻿@model SteveSite.Models.LoginView


<style>
 
    @@media only screen and (min-width: 801px) {
        .card-mods {
            margin-left: 30%;
            margin-top: 15%;
            width: 40%;
        }
        .input-div {
            margin-left: 25%;
        }
    }

    @@media only screen and (max-width: 800px) and (orientation: landscape) {
        .card-mods {
            margin-left: 30%;
            margin-top: 8%;
            width: 40%;
        }
        .input-div: {
            margin-left: 15%;
        }
    }

    @@media only screen and (max-width: 800px) and (orientation: portrait) {
        .card-mods {
            width: 80%; 
            margin-top: 15%;
            margin-left: 8%
        }

        .input-div {
            margin-left: 15%;
        }
    }
</style>

<div class="card card-mods">
    <div class="card-header bg-color3 color5" style="text-align: center; border: 2px solid #ACB0AF"><p class="display-4">Login</p></div>
    <div class="card">
        <form asp-action="Login" asp-controller="Account" asp-route-email="Email" asp-route-password="Password">
            <div id="input-div" style="margin-top:5%; margin-left: 25%">
                <div>&nbsp;<label>Email</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" asp-for="Email" /></div>
                <div>&nbsp;<label>Password&nbsp;</label><input type="password" asp-for="Password" /></div>
            </div>
            <input type="submit" style="margin-left: 45%; margin-bottom: 3%; margin-top:5%" class="btn bg-color3 color5" value="Login" />
        </form>
    </div>
</div>

