﻿@model SteveSite.Models.AllTopicsView

<div style="text-align: center"><span class="display-3 text-dark">All Topics</span></div>
<table class="table table-large table-secondary text-white table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Topic/SubTopic</th>
            <th>Archive</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Topic topic in Model.Topics)
        {
            <tr>
                <td>@topic.TopicName</td>
                <td>Topic</td>
                <td><a  asp-action="ToggleArchiveTopic" asp-controller="Topics" asp-route-id="@topic.TopicId" class="btn btn-light">Archive</a></td>
            </tr>
            @foreach(SubTopic subTopic in Model.SubTopics.Where(r => r.TopicName.Equals(topic.TopicName)))
            {
                <tr>
                    <td>@subTopic.SubTopicName</td>
                    <td>Subtopic</td>
                    <td><a asp-action="ToggleArchiveSubTopic" asp-controller="Topics" asp-route-id="@subTopic.SubTopicId" class="btn btn-light">Archive</a></td>
                </tr>
            }
        }
    </tbody>
</table>