﻿@model SteveSite.Models.AllTopicsView

<div style="text-align: center"><span class="display-3 text-dark">Archived Topics</span></div>
<br /><br />
<table class="table table-large table-secondary text-white table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Topic/SubTopic</th>
            <th>Unarchive</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            List<string> subTopicsVisited = new List<string>();
        }
        @foreach (Topic topic in Model.Topics)
        {
            <tr>
                <td>@topic.TopicName</td>
                <td>Topic</td>
                <td><a asp-action="ToggleArchiveTopic" asp-controller="Topics" asp-route-id="@topic.TopicId" class="btn btn-light">Unarchive</a></td>
                <td><a asp-action="DeleteTopic" asp-controller="Topics" asp-route-id="@topic.TopicId" class="btn btn-light">Delete</a></td>
            </tr>
            @foreach (SubTopic subTopic in Model.SubTopics.Where(r => r.TopicName.Equals(topic.TopicName)))
            {
                <tr>
                    <td>@subTopic.SubTopicName</td>
                    <td>Subtopic</td>
                    <td><a asp-action="ToggleArchiveSubTopic" asp-controller="Topics" asp-route-id="@subTopic.SubTopicId" class="btn btn-light">Unarchive</a></td>
                    <td><a asp-action="DeleteSubTopic" asp-controller="Topics" asp-route-id="@subTopic.SubTopicId" class="btn btn-light">Delete</a></td>
                </tr>
                subTopicsVisited.Add(subTopic.SubTopicName);
            }
        }
        @foreach (SubTopic subTopic in Model.SubTopics.Where(r => !subTopicsVisited.Contains(r.SubTopicName)))
        {
            <tr>
                <td>@subTopic.SubTopicName</td>
                <td>Subtopic</td>
                <td><a asp-action="ToggleArchiveSubTopic" asp-controller="Topics" asp-route-id="@subTopic.SubTopicId" class="btn btn-light">Unarchive</a></td>
                <td><a asp-action="DeleteSubTopic" asp-controller="Topics" asp-route-id="@subTopic.SubTopicId" class="btn btn-light">Delete</a></td>
            </tr>
        }
    </tbody>
</table>