﻿@model SteveSite.Models.CreateSubTopicView

<div style="text-align: center"><h2>Create SubTopic</h2></div>


<div style="margin-left: 40%; margin-top: 5%">
    <br /><br />
          <form asp-action="CreateSubTopic" asp-controller="Topics" method="post" enctype="multipart/form-data">
              <div><label>SubTopic Name&nbsp;</label><input type="text" asp-for="SubTopicName" /></div>
              <br /><br />
              <select asp-for="TopicName" asp-items="@new SelectList(Model.Topics)"></select>
              <br />
              <br />
              <div>
                  <label>
                      Add Image
                  </label>
                  <input type="file" asp-for="Image" />
              </div>
              <br /><br />
              <input style="margin-left: 10%" type="submit" value="Create Sub-Topic" />
              <div asp-validation-summary="All"></div>
          </form>
</div>