﻿@model SteveSite.Models.CreateTopicView

<div style="text-align: center"><h2>Create Topic</h2></div>


<div style="margin-left: 40%; margin-top: 5%">
    <br /><br />
    <form asp-action="CreateTopic" asp-controller="Topics" method="post" enctype="multipart/form-data">
        <div><label>Topic Name&nbsp;</label><input type="text" asp-for="TopicName" /></div>
        <br />
        <div><label>
                Add Image
            </label>
            <input type="file" asp-for="Image"/>
        </div>
        <br /><br />
        <input style="margin-left: 10%" type="submit" value="Create Topic" />
        <div asp-validation-summary="All"></div>
    </form>
</div>