﻿@model SteveSite.Models.DeleteTopicView

<br /><br /><br />
<p>
    If you wish to save any posts attached to this subtopic be sure to edit those posts and 
    change the keyed topic.
</p>
<p>To delete please enter the word DELETE into the following field:</p>
<br />
<form style="margin-left: 30vw" asp-action="DeleteSubTopic" asp-controler="Topics" asp-route-id="@Model.Id" method="post">
    <div><label>Enter DELETE&nbsp;</label><input type="text" asp-for="@Model.Text" /></div>
    <br />
    <input type="submit" value="Submit" />
    <div asp-validation-summary="All"></div>
</form>
