﻿<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="~/SiteColorScheme.css" rel="stylesheet" type="text/css" />
    <link href="~/DraftStyles.css" rel="stylesheet" type="text/css" />
    <style>
        .link-plain {
            text-decoration: none;
        }

            .link-plain:visited {
                color: inherit;
            }

            .link-plain:hover {
                color: inherit;
            }

        @@media only screen and (min-width: 801px) {
            #mobile-banner-portrait {
                display: none;
            }

            #mobile-banner-landscape {
                display: none;
            }

            #desktop-banner {
                display: normal;
            }

            #TagWindow {
                width: 50vw;
                height: 82vh;
                margin-left: 25vw;
                margin-top: 5vh;
            }
        }

        @@media only screen and (max-width: 800px) and (orientation: landscape) {
            #mobile-banner-portrait {
                display: none;
            }

            #desktop-banner {
                display: none;
            }

            #mobile-banner-landscape {
                display: normal;
            }

            #TagWindow {
                width: 50vw;
                height: 82vh;
                margin-top: 5vh;
                margin-left: 25vw;
            }
        }

        @@media only screen and (max-width: 800px) and (orientation: portrait) {
            #mobile-banner-portrait {
                display: normal;
            }

            #mobile-banner-landscape {
                display: none;
            }

            #desktop-banner {
                display: none;
            }

            .tag-header-fonts {
                font-size: 1em;
            }

            #TagWindow {
                width: 82vw;
                height: 82vw;
                margin-top: 10vh;
                margin-left: 10vw;
            }
        }
    </style>
</head>

@{
    @inject IDataServices dataServices;
}


<body>
    @if (User.Identity.IsAuthenticated)
    {

        @inject UserManager<IdentityModel> userManager;
        IdentityModel user = await userManager.GetUserAsync(User);
        <div style="width: 20vw; height: 100vh; z-index: 4;  position: fixed; display: none" id="UserMenu" class="bg-dark text-white">

            <br />
            <span style="margin-left: 5%;"> Welcome @user.UserName</span>
            <hr style="background-color: white" />
            @if (user.Level == 1)
            {

                <a class="text-white" style="margin-left: 5%" asp-action="CreateDraft" asp-controller="Drafts">Create Draft</a>
                <hr style="background-color: white" />

                <a class="text-white" style="margin-left: 5%" asp-action="CreateTemplateDraft" asp-controller="Drafts">Create Template Draft</a>
                <hr style="background-color: white" />

                <a asp-action="AllDrafts" asp-controller="Drafts" class="text-white" style="margin-left: 5%">Drafts</a>
                <hr style="background-color: white" />

                <a asp-action="AllPosts" asp-controller="Posts" class="text-white" style="margin-left: 5%">Posts</a>
                <hr style="background-color: white" />

                <a asp-action="CreateEbook" asp-controller="Ebook" class="text-white" style="margin-left: 5%">Create Ebook</a>
                <hr style="background-color: white" />

                <a asp-action="CreateTopic" asp-controller="Topics" class="text-white" style="margin-left: 5%">Create Topic</a>
                <hr style="background-color: white" />

                <a asp-action="CreateSubTopic" asp-controller="Topics" class="text-white" style="margin-left: 5%">Create SubTopic</a>
                <hr style="background-color: white" />

                <a asp-action="AllTopics" asp-controller="Topics" class="text-white" style="margin-left: 5%">All Topics</a>
                <hr style="background-color: white" />

                <a asp-action="ArchivedTopics" asp-controller="Topics" class="text-white" style="margin-left: 5%">Archived Topics</a>
                <hr style="background-color: white" />

                <a asp-action="AllTags" asp-controller="Tag" class="text-white" style="margin-left: 5%">All Tags</a>
                <hr style="background-color: white" />

                <a asp-action="CreateTag" asp-controller="Tag" class="text-white" style="margin-left: 5%">Create Tag</a>
                <hr style="background-color: white" />

                <a asp-action="EmailAll" asp-controller="Home" class="text-white" style="margin-left: 5%">Email All</a>
                <hr style="background-color: white" />

            }
        </div>

    }



    <div id="TagWindow" class="bg-color5" style="z-index: 6; position: fixed; border: 2px solid #767b91; display: none">
        <div class="row"><div class="col"></div><div class="col" style="text-align: center;"><h3 class="color3" style="display: inline">Tags</h3></div><div class="col"><span style="font-size: 2em; padding-top: 1vh; padding-left: 5vw; margin-left:7vw; cursor: pointer;" class="color3" onclick="toggleTagWindow()">&times;</span></div></div>

        @{ int i = 0;
            int i2 = 0;
            List<string> tagNames = dataServices.GetTagNames();
        }
        @while (i < tagNames.Count)
        {
            <div class="row">
                @while (i < tagNames.Count && i2 < 5)
                {
                    <div class="col"><a style="margin-left: 1vw;" class="color3" asp-action="GetAllForTag" asp-controller="Tag" asp-route-tagName="@tagNames[i]">@tagNames[i]</a></div>
                    i++;
                    i2++;
                }
            </div>
            i2 = 0;
        }
    </div>

    <nav id="desktop-banner" class="navbar color5" style="background-color: #2a324b; border-top: 2px solid #ACB0AF; border-bottom: 3px solid #ACB0AF">
        <span>
            <a href="/"><img style="width: 3vw; height: 3vw; border: 1px solid #e1e5ee" src="~/earlMilton.jpg" /></a> <!--The image has a background color of #ACB0AF-->
        </span>


        @foreach (Topic topic in dataServices.GetTopics())
        {
            List<SubTopic> subTopics = dataServices.GetSubTopicsFor(topic.TopicName);
            if (subTopics.Count() == 0)
            {
                <a asp-action="TopicBlog" asp-controller="Home" asp-route-topicName="@topic.TopicName" class="btn color5 link-plain">@topic.TopicName</a>
            }
            else
            {
                <div class="btn-group">
                    <button style="background-color: #2a324b" class="btn color5 dropdown-toggle" type="button" data-toggle="dropdown">@topic.TopicName</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="TopicBlog" asp-controller="Home" asp-route-topicName="@topic.TopicName">@topic.TopicName (General)</a>
                        <div class="dropdown-divider"></div>
                        @foreach (SubTopic subTopic in subTopics)
                        {
                            <a class="dropdown-item" asp-action="TopicBlog" asp-controller="Home" asp-route-topicName="@subTopic.SubTopicName">@subTopic.SubTopicName</a>
                        }
                    </div>
                </div>
            }

        }



        @if (!User.Identity.IsAuthenticated)
        {
            <a class="btn color5 link-plain" asp-action="Login" asp-controller="Account">Login</a>
            <a class="btn color5 link-plain" asp-action="Register" asp-controller="Account">Register</a>

        }
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn color5 link-plain" asp-action="Logout" asp-controller="Account">Logout</a>

        }
        <a class="btn color5 link-plain" asp-action="AllEbooks" asp-controller="Ebook"><i class="fas fa-book-open"></i>&nbsp;Ebooks </a>
        <a class="btn color5 link-plain" onclick="toggleTagWindow();"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Tags</a>

        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn color5 link-plain" onclick="toggleMenu();"><i class="fas fa-bars"></i></a>
        }

    </nav>

    <nav id="mobile-banner-landscape" class="navbar bg-color3 color5" style="height: 20vh; border-top: 2px solid #ACB0AF; border-bottom: 3px solid #ACB0AF;">
        <span>
            <a href="/"><img style="width: 15vh; height: 15vh; border: 1px solid #e1e5ee" src="~/earlMilton.jpg" /></a> <!--The image has a background color of #ACB0AF-->
        </span>
        <a class="btn color5" onclick="toggleMobileMenu();"><span style="font-size: 2em"><i class="fas fa-bars"></i></span></a>
    </nav>

    <nav id="mobile-banner-portrait" class="navbar bg-color3 color5" style="border-top: 2px solid #ACB0AF; border-bottom: 3px solid #ACB0AF; height: 10vh;">
        <span>
            <a href="/"><img style="width: 15vw; height: 15vw; border: 1px solid #e1e5ee" src="~/earlMilton.jpg" /></a> <!--The image has a background color of #ACB0AF-->
        </span>
        <a class="btn color5" onclick="toggleMobileMenu();"><span style="font-size: 2em"><i class="fas fa-bars"></i></span></a>
    </nav>

    <div style="width: 100vw; height: 90vh; z-index: 5; position: fixed; display: none; text-align: left" id="MobileMenu" class="bg-color3 color5">
        @if (!User.Identity.IsAuthenticated)
        {
            <div style="margin-left: 5%"><a class="btn color5 link-plain" asp-action="Login" asp-controller="Account">Login</a></div>
            <div style="width: 100%; height: 1px;  background-color: #ACB0AF;"></div>
            <div style="margin-left: 5%"><a class="btn color5 link-plain" asp-action="Register" asp-controller="Account">Register</a></div>
            <div style="width: 100%; height: 1px;  background-color: #ACB0AF;"></div>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <div style="margin-left: 5%"><a class="btn color5 link-plain" asp-action="Logout" asp-controller="Account">Logout</a></div>
            <div style="width: 100%; height: 1px;  background-color: #ACB0AF;"></div>
        }
        <div style="margin-left: 5%"><a class="btn color5 link-plain" asp-action="AllEbooks" asp-controller="Ebook"><i class="fas fa-book-open"></i>&nbsp;Ebooks </a></div>
        <div style="width: 100%; height: 1px;  background-color: #ACB0AF;"></div>
        <div style="margin-left: 5%"><a class="btn color5" onclick="toggleTagWindow();"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;Tags</a></div>
        <div style="width: 100%; height: 1px;  background-color: #ACB0AF;"></div>


        <div style="margin-left: 5%">Topics</div>
        @foreach (Topic topic in dataServices.GetTopics())
        {
            List<SubTopic> subTopics = dataServices.GetSubTopicsFor(topic.TopicName);
            if (subTopics.Count() == 0)
            {
                <div style="margin-left: 15%"> <a style="text-decoration: none" asp-action="TopicBlog" asp-controller="Home" asp-route-topicName="@topic.TopicName" class="color5 link-plain">@topic.TopicName</a></div>
            }
            else
            {
                <div style="margin-left: 15%;"><a style="text-decoration: none" class="color5 link-plain" asp-action="TopicBlog" asp-controller="Home" asp-route-topicName="@topic.TopicName">@topic.TopicName (General)</a></div>
                @foreach (SubTopic subTopic in subTopics)
                {
                    <div style="text-align: center"><a style="text-decoration: none;" class="color5 link-plain" asp-action="TopicBlog" asp-controller="Home" asp-route-topicName="@subTopic.SubTopicName"><i class="fas fa-arrow-right"></i>&nbsp;@subTopic.SubTopicName</a></div>
                }


            }

        }
    </div>

    @*<div class="bg-light" style="width: 100vw; padding-top: 2vh; padding-bottom: 2vh">
            <a href="/"><img style="width: 6vw; height: 10vh; margin-left: 3vw" src="~/earlMilton.jpg" /></a>


            <div style="width: 6vw; height: 10vh; display: inline; margin-left: 57vw; padding-left: 5vw; padding-right: 5vw; padding-top: 2vh; padding-bottom: 2vh; border-radius: 25px" class="bg-secondary">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="text-dark btn btn-light" asp-action="Login" asp-controller="Account">Login</a>
                    <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                    <a class="text-dark btn btn-light" asp-action="Register" asp-controller="Account">Register</a>
                    <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="text-dark btn btn-light" asp-action="Logout" asp-controller="Account">Logout</a>
                    <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>


                }
                <a class="text-dark btn btn-light" asp-action="AllEbooks" asp-controller="Ebook">All Ebooks  <i class="fas fa-book-open"></i></a>
                <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>

                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-light text-dark" onclick="toggleMenu();"><i class="fas fa-bars"></i></a>
                }
            </div>
        </div>
        <nav class="navbar bg-secondary">
            <div style="margin-left: 15%">
                @foreach (Topic topic in dataServices.GetTopics())
                {
                    List<SubTopic> subTopics = dataServices.GetSubTopicsFor(topic.TopicName);
                    if (subTopics.Count() == 0)
                    {
                        <a asp-action="TopicBlog" asp-controller="Home" asp-route-topicName="@topic.TopicName" class="btn btn-light">@topic.TopicName</a>
                    }
                    else
                    {
                        <div class="btn-group">
                            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">@topic.TopicName</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="TopicBlog" asp-controller="Home" asp-route-topicName="@topic.TopicName">@topic.TopicName (General)</a>
                                <div class="dropdown-divider"></div>
                                @foreach (SubTopic subTopic in subTopics)
                                {
                                    <a class="dropdown-item" asp-action="TopicBlog" asp-controller="Home" asp-route-topicName="@subTopic.SubTopicName">@subTopic.SubTopicName</a>
                                }
                            </div>
                        </div>
                    }
                    <span>&nbsp;&nbsp;&nbsp;</span>
                }

            </div>

        </nav>*@

    <div>
        @RenderBody()
    </div>
</body>
</html>
<script>
    function toggleMenu() {
        let menu = document.getElementById("UserMenu");
        $(menu).fadeToggle(1000);

    }

    function toggleMobileMenu() {
        let menu = document.getElementById("MobileMenu");
        $(menu).fadeToggle(1000);

    }

    function toggleTagWindow() {
        let tagWindow = document.getElementById("TagWindow");
        $(tagWindow).fadeToggle(1000);

    }

</script>

