﻿@model IEnumerable<SteveSite.Models.Post>

@using SteveSite.Models


<table class="table table-hover table-striped table-bordered table-light table-large">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Clone Draft</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (Post post in @Model)
            {
                <tr>
                    <td>@post.Title</td>
                    <td>@post.Date</td>
                    <td><a asp-action="CloneDraft" asp-controller="Posts" asp-route-id="@post.PostId">Clone Draft</a></td>
                    <td><a asp-action="RemovePost" asp-route-id="@post.PostId">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>