﻿@model SteveSite.Models.PostViewModel
@using System.Text.RegularExpressions


<div style="margin-bottom: 3%; margin-left: 10%; margin-top: 3%; width: 80%">
    <div>
        @Html.Raw(Article.GetBody(@Model.Post))
        @if (@Model.Post.Links != null && !@Model.Post.Links.Equals(""))
        {
            <div style="text-align: center; "><h3 style="display: inline" class="btn color5 bg-color3" onclick="toggleReferences(@Model.Post.PostId)">References</h3></div>
            string[] references = @Article.GetLinks(Model.Post);
            Regex reg = new Regex("<a.*? href=('(.*?)'|\"(.*?)\").*?>(.*?)</a>");
            //Groups[0] is the whole link, [3] the url, [4] is the text content.

            <br />
            <div id="@Model.Post.PostId" style="display: none">
                <ul style="margin-left: 15%; list-style-type: none; font-style: italic">
                    @foreach (string str in references)
                    {

                        Match match = reg.Match(str);
                        string link1 = match.Groups[1].ToString();
                        @if (!string.IsNullOrEmpty(link1))
                        {
                            string strHalfA = str.Substring(0, match.Index);
                            string strHalfB = str.Substring(match.Index + match.Length, str.Length - (match.Index + match.Length));

                            <li>@Html.Raw(strHalfA) <a href="@match.Groups[3].Value">@match.Groups[4].Value</a>@Html.Raw(strHalfB)</li>

                        }
                        else
                        {
                            <li>
                                @Html.Raw(str)

                            </li>
                        }
                    }
                </ul>
            </div>
        }

        <div style="text-align: center"><h3 class="btn" style="background-color: #2a324b; color: #e1e5ee" onclick="toggleComments()">Comments</h3></div>
        <br />
    </div>
</div>
<div style="display: none" class="bg-color3" id="CommentArea">
    <br /><br /><br />
    @if (User.Identity.IsAuthenticated)
    {

        <form style="margin-left: 35%" asp-action="AddComment" asp-controller="Comment" method="post">
            <textarea rows="10" cols="50" asp-for="Body"></textarea>
            <input type="hidden" asp-for="TopicName" value="@Model.Post.TopicName" />
            <input type="hidden" asp-for="PostId" value="@Model.Post.PostId" />
            <input type="hidden" asp-for="UserName" value="@User.Identity.Name" />
            <br />
            <br />
            <input style="margin-left: 17%" type="submit" value="Add Comment" class="btn btn-light" />
        </form>

    }
    else
    {
        <p style="text-align: center" class="color5">Log in to comment.</p>
    }
    @{
        
        @if (@Model.Comments != null)
        {
            @foreach (Comment comment in Model.Comments)
            {
                <br />
                <div style="width: 33%; margin-left: 35%" class="card">
                    <div class="card-header color5 bg-color3" style="font-size: .7em">
                        @comment.UserName&nbsp;&nbsp;&nbsp;@comment.Date
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.Identity.Name.Equals(comment.UserName))
                            {
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <a class="btn btn-sm btn-light" asp-action="RemoveComment" asp-controller="Comment" asp-route-id="@comment.CommentId" style="right: 2px; top: 2px; position: absolute" asp-route-postId="@Model.Post.PostId">Delete</a>
                            }
                        }
                    </div>
                    <div class="card-body">
                        @comment.Body
                    </div>
                </div>
            }

        }
    }
    <br /><br /><br /><br />
</div>


<div class="color1" style="font-style: italic; margin-left: 15%;">@Html.Raw(@Model.Post.Title)&nbsp;&nbsp;&nbsp;@Model.Post.Date</div>


<script>
    function toggleComments() {
        let div = document.getElementById("CommentArea");
        $(div).slideToggle(1000);
    }

</script>