﻿@model SteveSite.Models.EmailModel


<br /><br />
    <div style="margin-left: 15vw">Number of subscribers: @Model.SubscriberNum</div>
<br /><br />

<form  method="post" asp-action="EmailAll" asp-controller="Home">

    <div style="margin-left: 35vw">
        <label>
            Email Title/Subject
        </label>
        <input type="text" asp-for="Title" />
    </div>
    <br />
    <br />
    <div style="text-align: center">Message</div>
    <div style="margin-left: 22vw">
        <textarea cols="100" rows="20" asp-for="Message"></textarea>
    </div>
    <br />
    <br />
    <input class="btn btn-light" style="margin-left: 45vw" type="submit" value="Send Email" />
    <br /><br />
</form>