﻿@model SteveSite.Models.BlogView
@using SteveSite.Models
@using System.Text.RegularExpressions

<br />

@if (Model.ImageUrl != null)
{

    <img style="margin-left: 33.3vw; margin-right: 33.3vh; display: block; width: 33vw;" src="@Model.ImageUrl" />

}
else
{
    <div style="text-align: center" class="color3 display-3">@Model.TopicName</div>
}

<br />
@if (@Model.Posts != null)
{
    @foreach (Post post in @Model.Posts)
    {
        <div style="margin-bottom: 3%; margin-left: 10%; margin-top: 3%; width: 80%">
            <h2 class="dft-subheader">@post.Title</h2>
            @if (!String.IsNullOrEmpty(post.ThumbnailUrl))
            {
                <img src="@post.ThumbnailUrl" style="width: 10vh; height: 10vh; float: left; margin-right: 3vh" class="img-thumbnail" />
            }
            <div>@Html.Raw(post.GetPreview()) <a class="dft-paragraph" asp-action="ViewPost" asp-controller="Posts" asp-route-id="@post.PostId">Read More</a></div>
            <p style="font-style: italic" class="text-secondary dft-paragraph">@post.Date</p>
            @if (post.Tags != null)
            {
                <span>Tags: </span>
                @foreach (string tagNum in Article.GetTags(post))
                {
                    <a asp-action="GetAllForTag" asp-controller="Tag" asp-route-tagName="@Model.TagMap[tagNum]">@Model.TagMap[tagNum]</a>
                }

            }
        </div>

        @*<div style="margin-bottom: 3%; margin-left: 10%; margin-top: 3%; width: 80%">
                <div>
                    @Html.Raw(Article.GetBody(post))
                    @if (post.Links != null && !post.Links.Equals(""))
                    {
                        <div style="text-align: center"><h3 class="btn bg-color3 color5" onclick="toggleReferences(@post.PostId)">References</h3></div>
                        string[] references = @Article.GetLinks(post);
                        Regex reg = new Regex("<a.*? href=('(.*?)'|\"(.*?)\").*?>(.*?)</a>");
                        //Groups[0] is the whole link, [3] the url, [4] is the text content.

                        <br />
                        <div id="@post.PostId" style="display: none">
                            <ul style="margin-left: 15%; list-style-type: none; font-style: italic">
                                @foreach (string str in references)
                                {

                                    Match match = reg.Match(str);
                                    string link1 = match.Groups[1].ToString();
                                    @if (!string.IsNullOrEmpty(link1))
                                    {
                                        string strHalfA = str.Substring(0, match.Index);
                                        string strHalfB = str.Substring(match.Index + match.Length, str.Length - (match.Index + match.Length));

                                        <li>@Html.Raw(strHalfA) <a href="@match.Groups[3].Value">@match.Groups[4].Value</a>@Html.Raw(strHalfB)</li>

                                    }
                                    else
                                    {
                                        <li>
                                            @Html.Raw(str)

                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                    @{ string commentDivId = "comment" + post.PostId;}
                    <div style="text-align: center"><h3 class="btn bg-color3 color5" onclick="toggleComments('comment' + @post.PostId)">Comments</h3></div>
                </div>

                <div class="bg-color3" style="display: none" id="@commentDivId">
                    <br /><br />
                    @if (User.Identity.IsAuthenticated)
                    {

                        <form style="margin-left: 30%" asp-action="AddComment" asp-controller="Comment" method="post">
                            <textarea rows="10" cols="50" asp-for="Body"></textarea>
                            <input type="hidden" asp-for="TopicName" />
                            <input type="hidden" asp-for="PostId" value="@post.PostId" />
                            <input type="hidden" asp-for="UserName" value="@User.Identity.Name" />
                            <br />
                            <br />
                            <input style="margin-left: 20%" type="submit" value="Add Comment" class="btn btn-light" />
                        </form>

                    }
                    else
                    {
                        <p  style="text-align: center" class="color5">Log in to comment.</p>
                    }
                    @{
                        List<Comment> comments = Model.Comments.Where(r => r.PostId == post.PostId).ToList();
                        @if (comments != null)
                        {
                            @foreach (Comment comment in comments)
                            {
                                <br />
                                <div style="width: 35%; margin-left: 30%" class="card">
                                    <div class="card-header bg-color3 color5" style="font-size: .7em">
                                        @comment.UserName&nbsp;&nbsp;&nbsp;@comment.Date
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            if (User.Identity.Name.Equals(comment.UserName))
                                            {
                                                <a asp-action="RemoveComment" asp-controller="Comment" asp-route-id="@comment.CommentId" asp-route-topic="@Model.TopicName">&nbsp;Delete</a>
                                            }
                                        }
                                    </div>
                                    <div class="card-body">
                                        @comment.Body
                                    </div>
                                </div>
                            }

                        }
                    }
                    <br /><br />
                </div>
                <div class="color1" style="font-style: italic; margin-left: 15%;">@Html.Raw(post.Title)&nbsp;&nbsp;&nbsp;@post.Date</div>

                <br /><br /><div class="bg-color3" style="width: 80vw; height: 1px;"></div><br /><br />
            </div>*@


    }
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<footer style="display: none; height: 10%; z-index: 3" class="page-footer bg-light fixed-bottom">
    <div style="width: 100vw" class="bg-color3">
        <span style="font-weight: bolder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-book-open"></i> Latest Ebooks <i class="fas fa-book-open"></i></span>

        @foreach (Ebook ebook in Model.Ebooks)
        {
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a class="text-white" data-toggle="tooltip" title="@ebook.ToolTip" asp-action="EbookPage" asp-controller="Ebook" asp-route-title="@ebook.Title">@ebook.Title</a>
        }
    </div>

    <div class="text-secondary">
        <div class="row">
            <div class="col-1"> <div style="margin-left: 3vw; display: inline-block;"><h3 style="display: inline-block">Tags:</h3> &nbsp;&nbsp;&nbsp;&nbsp;</div></div>
            <div class="col-9" style="padding-top: 1vh">
                @{int ind = 0;}
                @foreach (string str in Model.TagNames)
                {
                    <a class="text-secondary" asp-action="GetAllForTag" asp-controller="Tag" asp-route-tagName="@str">@str</a><span>&nbsp;</span>
                    ind++;
                    if (ind > 29)
                    {
                        break;

                    }
                }
            </div>
            <div class="col" style="padding-top: 1vh"><button id="TagButton" class="btn btn-light" onclick="toggleTagWindow();">See All Tags</button></div>
        </div>
    </div>
</footer>



<script>
    $(documenmt).ready(function () {
        $('[data-toggle="tooltip"]').toolTip();
    });
    function toggleReferences(divId) {
        let div = document.getElementById(divId);
        $(div).slideToggle(1000);
    }

    function toggleComments(divId) {
        let div = document.getElementById(divId);
        $(div).slideToggle(1000);
    }

    function toggleTagWindow() {
        let tagWindow = document.getElementById("TagWindow");
        $(tagWindow).slideToggle(1000);

        let tagButton = document.getElementById("TagButton");
        if (tagButton.textContent === "See All Tags") {
            tagButton.textContent = "Close Tag Window";
        }
        else {
            tagButton.textContent = "See All Tags"
        }

    }

</script>

@*<script>
        $(documenmt).ready(function () {
            $('[data-toggle="tooltip"]').toolTip();
        });

        function toggleReferences(divId) {
            let div = document.getElementById(divId);
            $(div).slideToggle(1000);
        }

        function toggleComments(divId) {
            let div = document.getElementById(divId);
            $(div).slideToggle(1000);
        }
    </script>*@
