﻿


@media only screen and (min-width: 801px) {

    .dft-paragraph {
        margin-left: 5vw;
    }

    .dft-header {
        margin-bottom: 2vh;
        font-size: 4em;
        font-family: 'Palatino Linotype';
        text-align: center;
        margin-top: 2vh;
        color: #2a324b;
    }


    .dft-subheader {
        color: #767b91;
        font-size: 3em;
        font-family: 'Palatino Linotype';
    }

    .dft-square-sm {
        margin-left: 28vw;
        margin-bottom: 4vh;
        width: 20vw;
        height: 30vh;
        display: block;
    }

    .dft-rec-wide-sm {
        margin-left: 20vw;
        margin-bottom: 4vh;
        width: 30vw;
        height: 25vh;
        display: block;
    }

    .dft-rec-tall-sm {
        margin-left: 29vw;
        margin-bottom: 4vh;
        width: 15vw;
        height: 36vh;
        display: block
    }

    .dft-banner-size {
        width: 50vw;
        height: 27vw;
        margin-left: 15vw;
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    .dft-paragraph {
        margin-left: 5vw;
    }

    .dft-header {
        margin-bottom: 2vh;
        font-size: 3em;
        font-family: 'Palatino Linotype';
        text-align: center;
        margin-top: 2vh;
        color: #2a324b;
    }


    .dft-subheader {
        color: #767b91;
        font-size: 2em;
        font-family: 'Palatino Linotype';
    }

    .dft-square-sm {
        margin-left: 28vw;
        margin-bottom: 4vh;
        width: 20vw;
        height: 30vh;
        display: block;
    }

    .dft-rec-wide-sm {
        margin-left: 20vw;
        margin-bottom: 4vh;
        width: 30vw;
        height: 25vh;
        display: block;
    }

    .dft-rec-tall-sm {
        margin-left: 29vw;
        margin-bottom: 4vh;
        width: 15vw;
        height: 36vh;
        display: block
    }

    .dft-banner-size {
        width: 80vw;
        height: 40vw;
    }
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
    .dft-paragraph {
        margin-left: 5vw;
    }

    .dft-header {
        margin-bottom: 2vh;
        font-size: 2em;
        font-family: 'Palatino Linotype';
        text-align: center;
        margin-top: 2vh;
        color: #2a324b;
    }


    .dft-subheader {
        color: #767b91;
        font-size: 1.5em;
        font-family: 'Palatino Linotype';
    }

    .dft-square-sm {
        margin-left: 28vw;
        margin-bottom: 4vh;
        width: 20vw;
        height: 30vh;
        display: block;
    }

    .dft-rec-wide-sm {
        margin-left: 20vw;
        margin-bottom: 4vh;
        width: 30vw;
        height: 25vh;
        display: block;
    }

    .dft-rec-tall-sm {
        margin-left: 29vw;
        margin-bottom: 4vh;
        width: 15vw;
        height: 36vh;
        display: block
    }

    .dft-banner-size {
        width: 80vw;
        height: 40vw;
        
    }
}