﻿.color1 {
    color: #ACB0AF;
}
.color2 {
    color: #f7c59f;
}
.color3 {
    color: #2a324b;
}
.color4 {
    color: #767b91;
}
.color5 {
    color: #e1e5ee;
}
.bg-color5 {
    background-color: #e1e5ee;
}
.bg-color3 {
    background-color: #2a324b;
}

