﻿@model IEnumerable<SteveSite.Models.Tag>


<table class="table table-secondary table-bordered table-hover table-striped table-large">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Remove
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach(Tag tag in @Model)
        {
            <tr>
                <td>@tag.TagName</td>
                <td><a asp-action="RemoveTag" asp-controller="Tag" asp-route-id="@tag.TagId">Remove</a></td>
            </tr>
        }
    </tbody>
</table>