﻿@model SteveSite.Models.Tag

<form asp-action="CreateTag" asp-controller="Tag" method="post" style="margin-top: 40vh; margin-left: 40vw">
    <div>
        <label>Tag Name</label>
        <input type="text" asp-for="TagName" />
    </div>
    <br />
    <input style="margin-left: 7vw" class="btn btn-light" type="submit" value="Create Tag" />
    <div asp-validation-summary="All"></div>
</form>