﻿@model IEnumerable<SteveSite.Models.Post>

<br /><br /><br />
<div class="bg-secondary text-white" style="text-align:center">Articles</div>

<table class="table text-white table-large table-secondary table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Topic</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (Post post in Model)
            {
                <td><a asp-action="ViewPost" asp-controller="Posts" asp-route-id="@post.PostId">@post.Title</a></td>
                <td>@post.Date</td>
                <td>@post.TopicName</td>
            }
        </tr>
    </tbody>
</table>


