﻿@model ThumbnailView



    <br />
    <br />
    <br />



    <form method="post" asp-action="AddThumbnailToDraft" asp-controller="Drafts" enctype="multipart/form-data">

        <label>Thumbnail</label>
        <input type="File" asp-for="@Model.Thumbnail"/>
        <input type="hidden" asp-for="@Model.DraftId" />
        <input value="Add Thumbnail" type="submit" />
    </form>
