﻿@model IEnumerable<SteveSite.Models.Draft>
@using SteveSite.Models


<table class="table table-light table-large table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Preview</th>
            <th>Edit View</th>
            <th>Add Tag</th>
            <th>Add Thumbnail</th>
            <th>Remove Tag</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (Draft draft in @Model)
            {
        <tr>
            <td>@draft.Title</td>
            <td>@draft.Date</td>
            <td><a asp-action="DraftPreview" asp-route-id="@draft.DraftId">Preview</a></td>
            <td><a asp-action="EditDraft" asp-controller="Drafts" asp-route-id="@draft.DraftId">Edit</a></td>
            <td><a asp-action="AddTagToDraft" asp-controller="Drafts" asp-route-id="@draft.DraftId">Add Tag</a></td>
            <td><a asp-action="AddThumbnailToDraft" asp-controller="Drafts" asp-route-id="@draft.DraftId">Add Thumbnail</a></td>
            <td><a asp-action="RemoveTagFromDraft" asp-controller="Drafts" asp-route-id="@draft.DraftId">Remove Tag</a></td>
            <td><a asp-action="RemoveDraft" asp-route-id="@draft.DraftId">Delete</a></td>
        </tr>
            }
        }
    </tbody>
</table>