﻿@model SteveSite.Models.DraftView

<style>
   .margin-1 {
       margin-left: 40%;
   }
   .margin-2 {
       margin-left: 20%;
   }
</style>


<div>
    <br />
    <br />
    <form asp-action="CreateDraft" asp-controller="Drafts" method="post" enctype="multipart/form-data">

        <div id="input-div">
            <div class="margin-1">
                Title<br />
                <input type="text" asp-for="Title" />
            </div>

            <div class="margin-1">
                Topic<br />
                <select asp-for="TopicName" asp-items="@new SelectList(Model.TopicNames)"></select>
            </div>

            <div class="margin-1">
                Banner Image <br />
                <input type="file" accept="image/*" id="banner" asp-for="Image1" />
            </div>

            <div class="margin-1">
                Header <br />
                <input type="text" id="header" />
            </div>

            <input type="hidden" id="draft-body" asp-for="Body" />
            <input type="file" id="image2" asp-for="Image2"  style="display: none"/>
            <input type="file" id="image3" asp-for="Image3" style="display: none" />
            <input type="file" id="image4" asp-for="Image4" style="display: none" />
            <input type="file" id="image5" asp-for="Image5" style="display: none" />


        </div>
        
        <br /><br />
        <div style="margin-left: 25%; width: 50%; height: 10%;" class="bg-color3 color5">
            <div style="margin-left: 20%">
                <span class="btn" onclick="addImage();">Add Image</span>
                <span class="btn" onclick="addSubheader();">Add Subheader</span>
                <span class="btn" onclick="addParagraph();">Add Paragraph</span>
            </div>
        </div>

        <br />
        <br />
        <span onclick="submit();" class="btn bg-color3 color5" style="margin-left: 42.5%">Create Draft</span>

        <input type="submit" id ="submit" style="display:none" />
        <div asp-validation-summary="All"></div>
    </form>
</div>

<script type="text/javascript">
    let inputDiv; 
    let draftBody; 
    let image1; 
    let image2; 
    let image3; 
    let image4; 
    let image5; 

    let controls = {
        added: [],
        images: 0,
        addControl(control) {
            if (control.image != undefined) {
                if (this.images > 4) {
                    alert('Cannot Exceed Five Images');

                    return;
                }
                else {
                    this.images++;
                }
            }
            this.added.push(control);

            return true;
        },

        getNextImage() {
            if (this.images > 4) {
                alert("Cannot exceed five images."); 
                return false; 
            }

            if (this.images == 1) {
                return image2;
            }
            else if (this.images == 2) {
                return image3;
            }
            else if (this.images == 3) {
                return image4;
            }
            else {
                return image5; 
            }
        },

        removeControl(control) {
            for (let i = 0; i < this.added.length; i++) {
                let obj = this.added[i]; 
                if (obj.image == control) {
                    inputDiv.removeChild(obj.div); 
                    inputDiv.appendChild(obj.image);
                    obj.image.style.display = 'none';
                    this.images--; 
                    this.added.splice(i, 1);
                }
                else if (obj.subheader == control || obj.p == control) {
                    inputDiv.removeChild(obj.div);
                    this.added.splice(i, 1);
                }
            }
        }

    };

    window.onload = function () {
        inputDiv = document.getElementById('input-div');

        image1 = document.getElementById('banner');
        controls.addControl({image: image1, class: 'dft-banner-size'});
        

        let header = document.getElementById('header');
        controls.addControl({ header }); 

        draftBody = document.getElementById('draft-body'); 

        image2 = document.getElementById('image2'); 
        image3 = document.getElementById('image3'); 
        image4 = document.getElementById('image4'); 
        image5 = document.getElementById('image5'); 


    }


    function addImage() {
        let image = controls.getNextImage();
        if (!image) return; 

        let select = document.createElement('select');

        let option = document.createElement('option');
        option.innerText = 'dft-banner-size';
        select.appendChild(option);

        option = document.createElement('option');
        option.innerText = 'dft-square-sm';
        select.appendChild(option); 

        option = document.createElement('option');
        option.innerText = 'dft-rec-wide-sm';
        select.appendChild(option);

        option = document.createElement('option');
        option.innerText = 'dft-rec-tall-sm';
        select.appendChild(option); 

        let rmBtn = createRmBtn(image);

        let div = createInnerDiv('Add Image:');
        if (controls.addControl({ image, select , div})) {
            inputDiv.removeChild(image); 
            div.appendChild(image);
            image.style.display = ''; 

            div.appendChild(select);
            div.appendChild(rmBtn);
            inputDiv.appendChild(div);
        }
        
    }

    function addSubheader() {
        let subheader = document.createElement('input'); 
        subheader.type = 'text'; 

        let rmBtn = createRmBtn(subheader);

        let div = createInnerDiv('Add Subheader'); 
        div.appendChild(subheader);
        div.appendChild(rmBtn);
        inputDiv.appendChild(div);

        controls.addControl({ subheader, div }); 
    }

    function addParagraph() {
        let p = document.createElement('textarea'); 
        p.rows = '10';
        p.cols = '100';

        let rmBtn = createRmBtn(p);
        let insertControls = createInsertControls(p); 

        let div = createInnerDiv('Add Paragraph');
        div.appendChild(p);
        div.appendChild(rmBtn);
        div.appendChild(insertControls);
        inputDiv.appendChild(div);
      
        controls.addControl({ p, div });
    }
    
    function createInnerDiv(label) {
        let div = document.createElement('div'); 
        if (label.indexOf('Add Paragraph') == -1) {
            div.classList.add('margin-1');
        }
        else {
            div.classList.add('margin-2'); 
        }

        let p = document.createElement('p');
       
        p.innerText = label;
        div.appendChild(p);
        
        return div;
    }

    function submit() {
        let body = ""; 
        let imageCount = 0; 

        for (let obj of controls.added) {
            if (obj.header) {
                let tag = "<h2 class='dft-header'>" + obj.header.value + "</h2>";
                body += tag;
                body += '\n';
            }
            else if (obj.subheader) {
                body += '<br />'; 
                body += '\n'; 
                let tag = "<h3 class='dft-subheader'>" + obj.subheader.value + "</h3>";
                body += tag;
                body += '\n';
            }
            else if (obj.p) {
                let tag = "<p class='dft-paragraph'>" + obj.p.value + "</p>";
                body += tag; 
                body += '\n';
            }
            else if (obj.image) {

                if (obj.image.value != "") {
                    let tag = "<img src='" + imageCount + "' class='"; 
                    if (obj.class) {
                        tag+=  obj.class + "' />";
                    }
                    else {
                        tag += obj.select.value + "' />"; 
                    }
                    body += tag;
                    body += '\n';
                }
                imageCount++; 
            }
        }
        
        draftBody.value = body;
        document.getElementById('submit').click(); 
    }

    function createRmBtn(control) {
        let rmBtn = document.createElement('span');
        rmBtn.innerText = 'Remove';
        rmBtn.classList.add('btn');
        rmBtn.classList.add('bg-color3');
        rmBtn.classList.add('color5');
        rmBtn.style.marginLeft = "5%"; 

        rmBtn.onclick = function () {
            controls.removeControl(control);
        }

        return rmBtn;
    }


    function createInsertControls(control) {
        let controlDiv = document.createElement('div'); 

        let urlBoxLabel = document.createElement('span');
        urlBoxLabel.innerText = 'URL: ';
        urlBoxLabel.marginLeft = '2.5%';
        controlDiv.appendChild(urlBoxLabel); 

        let urlBox = document.createElement('input'); 
        urlBox.type = 'text';
        urlBox.style.marginLeft = '2.5%';
        controlDiv.appendChild(urlBox);

        let textBoxLabel = document.createElement('span'); 
        textBoxLabel.innerText = 'Display Text: ';
        textBoxLabel.style.marginLeft = '2.5%';
        controlDiv.appendChild(textBoxLabel); 

        let textBox = document.createElement('input');
        textBox.type = 'text'; 
        textBox.style.marginLeft = '2.5%';
        controlDiv.appendChild(textBox);

        let linkBtn = document.createElement('span'); 
        linkBtn.style.marginLeft = '2.5%'; 
        linkBtn.classList.add('btn');
        linkBtn.classList.add('color5'); 
        linkBtn.classList.add('bg-color3');
        linkBtn.innerText = 'Insert Link';
        linkBtn.onclick = function () {
            insertLink(control, urlBox, textBox); 
        }
        controlDiv.appendChild(linkBtn); 


        let italic = document.createElement('span');
        italic.classList.add('btn'); 
        italic.classList.add('color5'); 
        italic.classList.add('bg-color3'); 
        italic.innerText = 'i';
        italic.style.fontStyle = 'italic'; 
        italic.style.marginLeft = '2.5%'; 
        italic.onclick = function () {
            addOpenCloseTag(control, 'em');
        }
        controlDiv.appendChild(italic);

        let bold = document.createElement('span'); 
        bold.classList.add('btn');
        bold.classList.add('color5');
        bold.classList.add('bg-color3');
        bold.innerText = 'b';
        bold.style.fontWeight = 'bold';
        bold.style.marginLeft = '.5%';
        bold.onclick = function () {
            addOpenCloseTag(control, 'strong');
        }
        controlDiv.appendChild(bold);

        let underline = document.createElement('span');
        underline.classList.add('btn');
        underline.classList.add('color5');
        underline.classList.add('bg-color3');
        underline.innerText = 'u';
        underline.style.textDecoration = 'underline';
        underline.style.marginLeft = '.5%';
        underline.onclick = function () {
            addOpenCloseTag(control, 'u');
        }
        controlDiv.appendChild(underline);

        return controlDiv;
    }

    function insertLink(text, urlBox, textBox) {
        let url = urlBox.value;
        let textToShow = textBox.value;

        
        let startI = text.selectionStart;
        let startT = text.value.slice(0, startI);
        let endT = text.value.slice(startI, text.value.length);
        text.value = startT + "<a href='" + url + "' />" + textToShow + "</a>" + endT;
    }


    function addOpenCloseTag(text, tag) {
        if (text.value === null || text.value === "") {

            return;
        }
        let startI = text.selectionStart;
        let endI = text.selectionEnd;
        let startT = text.value.slice(0, startI);
        let midT = text.value.slice(startI, endI);
        let endT = text.value.slice(endI, text.value.length);
        text.value = startT + "<" + tag + ">" + midT + "</" + tag + ">" + endT;
        
    }

</script>