﻿@model SteveSite.Models.Draft
@using System.Text.RegularExpressions


<div style="margin-bottom: 3%; margin-left: 10%; margin-top: 3%; width: 80%">
    <div>
        @Html.Raw(Article.GetBody(@Model))
        @if (@Model.Links != null && !@Model.Links.Equals(""))
        {
            <div style="text-align: center; "><h3 style="display: inline" class="btn color5 bg-color3" onclick="toggleReferences(@Model.DraftId)">References</h3></div>
            string[] references = @Article.GetLinks(Model);
            Regex reg = new Regex("<a.*? href=('(.*?)'|\"(.*?)\").*?>(.*?)</a>");
            //Groups[0] is the whole link, [3] the url, [4] is the text content.

            <br />
            <div id="@Model.DraftId" style="display: none">
                <ul style="margin-left: 15%; list-style-type: none; font-style: italic">
                    @foreach (string str in references)
                    {

                        Match match = reg.Match(str);
                        string link1 = match.Groups[1].ToString();
                        @if (!string.IsNullOrEmpty(link1))
                        {
                            string strHalfA = str.Substring(0, match.Index);
                            string strHalfB = str.Substring(match.Index + match.Length, str.Length - (match.Index + match.Length));

                            <li>@Html.Raw(strHalfA) <a href="@match.Groups[3].Value">@match.Groups[4].Value</a>@Html.Raw(strHalfB)</li>

                        }
                        else
                        {
                            <li>
                                @Html.Raw(str)

                            </li>
                        }
                    }
                </ul>
            </div>
        }

        <br />
    </div>
</div>
<a style="margin-left: 40%" class="btn btn-primary" asp-action="PublishDraft" asp-controller="Drafts" asp-route-id="@Model.DraftId">Publish Draft</a>

