﻿@model SteveSite.Models.DraftView

<br /><br />
<form asp-action="EditDraft" asp-controller="Drafts" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.DraftId" />
    <div style="margin-left: 40%"><label>Title&nbsp;</label><input type="text" asp-for="Title" /></div>
    <br />
    <br />
    <div style="margin-left: 5%"><label>Body&nbsp;</label><textarea rows="50" cols="150" id="TxtA" asp-for="Body"></textarea></div>
    <br />
    <div style="margin-left: 40%"><label>Topic Name &nbsp;</label><select asp-for="@Model.TopicName" asp-items="@new SelectList(@Model.TopicNames)"></select></div>
    <br />
    <div style="margin-left: 40%"><label>Reference 1&nbsp;</label><input asp-for="Links[0]" type="text" /></div>
    <br />
    <div style="margin-left: 40%"><label>Reference 2&nbsp;</label><input asp-for="Links[1]" type="text" /></div>
    <br />
    <div style="margin-left: 40%"><label>Reference 3&nbsp;</label><input asp-for="Links[2]" type="text" /></div>
    <br />
    <div style="margin-left: 40%"><label>Reference 4&nbsp;</label><input asp-for="Links[3]" type="text" /></div>
    <br />
    <div style="margin-left: 40%"><label>Reference 5&nbsp;</label><input asp-for="Links[4]" type="text" /></div>
    <br />
    <div style="margin-left: 40%"><label>Reference 6&nbsp;</label><input asp-for="Links[5]" type="text" /></div>
    <br />
    <div style="margin-left: 40%"><label>Reference 7&nbsp;</label><input asp-for="Links[6]" type="text" /></div>
    <br />
    <div style="margin-left: 40%"><label>Reference 8&nbsp;</label><input asp-for="Links[7]" type="text" /></div>
    <br />
    <div style="margin-left: 40%"><label>Reference 9&nbsp;</label><input asp-for="Links[8]" type="text" /></div>
    <br />
    <div style="margin-left: 40%"><label>Reference 10&nbsp;</label><input asp-for="Links[9]" type="text" /></div>
    <br />
    <br />
    <div style="margin-left: 40%"><label>Image 1&nbsp;</label><input type="file" asp-for="Image1" /><span class="btn btn-light" onclick="insertImage(0)">Insert Image</span><select id="Select1"><option>banner-size</option><option>square-sm</option><option>rec-wide-sm</option><option>rec-tall-sm</option></select></div>
    <br />
    <div style="margin-left: 40%"><label>Image 2&nbsp;</label><input type="file" asp-for="Image2" /><span class="btn btn-light" onclick="insertImage(1)">Insert Image</span><select id="Select2"><option>square-sm</option><option>rec-wide-sm</option><option>rec-tall-sm</option></select></div>
    <br />
    <div style="margin-left: 40%"><label>Image 3&nbsp;</label><input type="file" asp-for="Image3" /><span class="btn btn-light" onclick="insertImage(2)">Insert Image</span><select id="Select3"><option>square-sm</option><option>rec-wide-sm</option><option>rec-tall-sm</option></select></div>
    <br />
    <div style="margin-left: 40%"><label>Image 4&nbsp;</label><input type="file" asp-for="Image4" /><span class="btn btn-light" onclick="insertImage(3)">Insert Image</span><select id="Select4"><option>square-sm</option><option>rec-wide-sm</option><option>rec-tall-sm</option></select></div>
    <br />
    <div style="margin-left: 40%"><label>Image 5&nbsp;</label><input type="file" asp-for="Image5" /><span class="btn btn-light" onclick="insertImage(4)">Insert Image</span><select id="Select5"><option>square-sm</option><option>rec-wide-sm</option><option>rec-tall-sm</option></select></div>
    <br />

    <br />
    <br />
    <input style="margin-left: 40%" type="submit" value="Save Changes" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div asp-validation-summary="All"></div>
</form>
<div class="bg-secondary fixed-bottom" style="padding: 2vh">
    <div style="margin-left: 5vw">
        <span class="btn btn-light" onclick="addOpenCloseTag('em')"><em>i</em></span>
        <span class="btn btn-light" onclick="addOpenCloseTag('strong')"><strong>b</strong></span>
        <span class="btn btn-light" onclick="addOpenCloseTag('u')"><u>u</u></span>
        <span class="btn btn-light" onclick="addOpenCloseTag('sup')"><sup>Superscript</sup></span>
        <span class="btn btn-light" onclick="addOpenCloseTag('sub')"><sub>Subscript</sub></span>
        <span class="btn btn-light" onclick="addOpenCloseTag('p', 'dft-paragraph')">Make Paragraph</span>
        <span class="btn btn-light" onclick="addOpenCloseTag('h2', 'dft-header')">Make Header</span>
        <span class="btn btn-light" onclick="addOpenCloseTag('h3','dft-subheader')">Make Subheader</span>
        <span class="btn btn-light" onclick="insertBreak()">Insert Break</span>
        <span class="btn btn-light" onclick="insertImage(0)">Insert Img1</span>
        <span class="btn btn-light" onclick="insertImage(1)">Insert Img2</span>
        <span class="btn btn-light" onclick="insertImage(2)">Insert Img3</span>
        <span class="btn btn-light" onclick="insertImage(3)">Insert Img4</span>
        <span class="btn btn-light" onclick="insertImage(4)">Insert Img5</span>
        <br /><br />
        <div style="margin-left: 20vw" class="text-white">Url: <input id="LinkUrl" /> Text To Show: <input id="LinkText" /> <span class="btn btn-light" onclick="insertLink()">Insert Link</span></div>
    </div>
</div>

<script>
    function addOpenCloseTag(tag, classes) {
        let text = document.getElementById("TxtA");
        if (text.value === null || text.value === "") {

            return;
        }
        let startI = text.selectionStart;
        let endI = text.selectionEnd;
        let startT = text.value.slice(0, startI);
        let midT = text.value.slice(startI, endI);
        let endT = text.value.slice(endI, text.value.length);

        if (classes == null) {
            text.value = startT + "<" + tag + ">" + midT + "</" + tag + ">" + endT;
        }
        else {
            text.value = startT + "<" + tag + " class='" + classes + "' >" + midT + "</" + tag + ">" + endT;
        }
    }


    function insertBreak() {
        let text = document.getElementById("TxtA");
        let startI = text.selectionStart;
        let startT = text.value.slice(0, startI);
        let endT = text.value.slice(startI, text.value.length);
        text.value = startT + "<br />" + endT;
    }

    function insertImage(imageNum) {
        let text = document.getElementById("TxtA");
        let startI = text.selectionStart;
        let startT = text.value.slice(0, startI);
        let endT = text.value.slice(startI, text.value.length);
        let selectId = "Select" + (imageNum + 1);
        let select = document.getElementById(selectId);

        if (select.value === "square-sm") {
            text.value = startT + "<img src='" + imageNum + "' id='img" + imageNum + "' class='dft-square-sm' />" + endT;
        }
        else if (select.value == "rec-wide-sm") {
            text.value = startT + "<img src='" + imageNum + "' id='img" + imageNum + "' class='dft-rec-wide-sm' />" + endT;
        }
        else if (select.value == "rec-tall-sm") {
            text.value = startT + "<img src='" + imageNum + "' id='img" + imageNum + "' class='dft-rec-tall-sm' />" + endT;
        }
        else if (select.value == "banner-size") {
            text.value = startT + "<img src='" + imageNum + "' id='img" + imageNum + "' class='dft-banner-size' />" + endT;
        }
    }

    function insertLink() {
        let urlBox = document.getElementById("LinkUrl");
        let textBox = document.getElementById("LinkText");
        let url = urlBox.value;
        let textToShow = textBox.value;

        let text = document.getElementById("TxtA");
        let startI = text.selectionStart;
        let startT = text.value.slice(0, startI);
        let endT = text.value.slice(startI, text.value.length);
        text.value = startT + "<a href='" + url + "' />" + textToShow + "</a>" + endT;
    }

</script>