﻿@model SteveSite.Models.TagToDraftView;

<form asp-action="RemoveTagFromDraft" asp-controller="Drafts" method="post" style="margin-top: 40vh; margin-left: 40vw;">

    <div>
        <label>Select Tag</label>
        <select asp-for="TagName" asp-items="@new SelectList(Model.Tags)"><option></option></select>
    </div>
    <input style="margin-left: 7vw" type="submit" value="Remove Tag" />
    <input type="hidden" asp-for="DraftID" />
    <div asp-validation-summary="All"></div>
</form>
