﻿@model SteveSite.Models.AllEbooksView
<br />
<div style="text-align: center" class="text-dark display-3">Ebooks</div>
<br />
<br /><br /><br />
@foreach (Ebook ebook in @Model.Ebooks)
{
    <div class="card">
        <div class="card-header">@ebook.Title</div>
        <div class="card-body">
            @ebook.BriefDescription
            <br />
            <br />
            <a asp-action="EbookPage" asp-controller="Ebook" asp-route-title="@ebook.Title">Read More</a>
            <br />
            <br />
            <form asp-action="SendEbook" asp-controller="Ebook" asp-route-email="Email" asp-route-ebookId="@ebook.EbookId">
                <div><label>Email&nbsp;</label><input type="text" asp-for="Email" /></div>
                <input type="submit" value="Recieve Ebook" />
            </form>
        </div>
    </div>
}