﻿@model SteveSite.Models.EbookView

<form style="margin-top: 10%" asp-action="CreateEbook" asp-controller="Ebook" method="post" enctype="multipart/form-data">

    <div style="margin-left: 35%;">
        <div><label>Title&nbsp;</label><input type="text" asp-for="Title" /></div>
        <br />
        <p>Tool Tip</p>
        <div><textarea asp-for="ToolTip" rows="3" cols="50"></textarea></div>
        <br />
        <p>Brief Description</p>
        <div><textarea asp-for="BriefDescription" rows="10" cols="50"></textarea></div>
        <br />
    </div>
    <div style="margin-left: 10%;">
        <p>Full Description</p>
        <div><textarea asp-for="FullDescription" rows="30" cols="150"></textarea></div>
    </div>
    <br />
    <br />
    <div style="margin-left: 35%;">
        <div><label>File Upload&nbsp;</label><input asp-for="EbookFile" type="file" /></div>
        <br />
        <div><label>Topic Name</label><select asp-for="TopicName" asp-items="new SelectList(Model.TopicNames)"></select></div>
        <br />
        <input type="submit" value="Create Ebook" style="margin-left: 15%" />
    </div>
</form>

<br /><br /><br />