﻿@model SteveSite.Models.AllEbooksView

<div style="text-align: center"><span class="display-3">@Model.Ebook.Title</span></div>

<br />
<br />
<br />
<br />

<div style="margin-left: 10%; margin-right: 10%" class="container">
    @Model.Ebook.FullDescription
</div>


<br />
<br />
<br />
<br />

<form style="margin-left: 30%" asp-action="SendEbook" asp-controller="Ebook" asp-route-email="Email" asp-route-ebookId="@Model.Ebook.EbookId">
    <div><label>Email&nbsp;</label><input type="text" asp-for="Email" /></div>
    <input type="submit" value="Recieve Ebook" />
</form>